﻿@model Noroff_Task_24.Models.Supervisor
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>AddSupervisor</title>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="~/Home/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Add supervisor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Home/ListOfSupervisors">List of database supervisors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Home/TestListOfSupervisors">List of test supervisors</a>
        </li>
    </ul>

</head>
<body>

    @*Old code from task 24
            <ul>
            @foreach (Supervisor supervisor in Model)
            {
                <li>
                    Supervisor @supervisor.Name
                    @if (supervisor.IsAvaliable)
                    {
                        @:is avaliable right now.
                    }
                    else
                    {
                        @:is unfortunately not avaliable right now.
                    }
                </li>
            }

        </ul>*@
    <div class="allObjects">
        <h1>Add supervisor</h1>

        <form asp-action="AddSupervisor" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <p>
                    <label asp-for="Id">Supervisor Id:</label>
                    <input class="form-control" asp-for="Id" placeholder="Enter Id..." />
                </p>
            </div>

            <div class="form-group">
                <p>
                    <label asp-for="Name">Supervisor Name:</label>
                    <input class="form-control" asp-for="Name" placeholder="Enter name..." />
                </p>
            </div>

            <div class="form-group">
                <p>
                    <label asp-for="IsAvailable">Supervisor Availabilty:</label>
                    <select class="form-control" asp-for="IsAvailable">
                        <option value="null">select...</option>
                        <option value="true">Avaliable</option>
                        <option value="false">Not Avaliable</option>
                    </select>
                </p>
            </div>

            <button class="btn btn-outline-primary" type="submit">Add</button>
        </form>
    </div>


</body>
</html>
