﻿@model List<Noroff_Task_24.Models.Supervisor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheetListOfSupervisors.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>List of Supervisors</title>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="~/Home/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Home/AddSupervisor">Add supervisor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">List of database supervisors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Home/TestListOfSupervisors">List of test supervisors</a>
        </li>
    </ul>

</head>
<body>


    <div class="supervisorList">
        <ul class="list-group">
            @if (Model.Count == 0)
            {
                @:<li class="list-group-item list-group-item-secondary">
                    @:There are no supervisors in the database
                @:</li>
            }

            @foreach (Supervisor supervisor in Model)
            {

                @if (supervisor.IsAvailable == true)
                {
                    @:<li class="list-group-item list-group-item-success">
                        @supervisor.Name @:is currently available.
                    @:</li>
                }
                else
                {
                    @:<li class="list-group-item list-group-item-danger">
                        @supervisor.Name @:is currently unavailable.
                    @:</li>
                }
            }
        </ul>
    </div>

</body>
</html>
