﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/StyleSheetIndex.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Homepage</title>
</head>
<body>
    <h1>@ViewBag.WelcomeMessage</h1>

    <p class="ingress">What would you like to do?</p>

    <div class="allCards">
        <div class="card" style="width: 18rem;">
            <img src="~/businessman.jpg" class="card-img-top" alt="businessman image">
            <div class="card-body">
                <div>
                    <h5 class="card-title">Add supervisor</h5>
                    <p class="card-text">Here you can add supervisors to the database.</p>
                </div>
                <a asp-action="AddSupervisor" class="btn btn-primary">Continue</a>

            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="~/indexcards.jpg" class="card-img-top" alt="archive image">
            <div class="card-body">
                <div>
                    <h5 class="card-title">List of supervisors</h5>
                    <p class="card-text">Here you can se the list of current supervisors in the database.</p>
                </div>
                <a asp-action="ListOfSupervisors" class="btn btn-primary">Continue</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="~/test.jpg" class="card-img-top" alt="test image">
            <div class="card-body">
                <div>
                    <h5 class="card-title">List of test supervisors</h5>
                    <p class="card-text">Here you can se the list of hard coded supervisors created for test purposes. The list only shows the supervisors starting with 'S'.</p><br/>
                </div>
                <a asp-action="TestListOfSupervisors" class="btn btn-primary">Continue</a>
            </div>
        </div>
    </div>
    <p class="timestamp">@ViewBag.Time</p>
</body>
</html>
