﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheetListOfSupervisors.css" />
    <title>TestListOfSupervisors</title>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="~/Home/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Home/AddSupervisor">Add supervisor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Home/ListOfSupervisors">List of database supervisors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">List of test supervisors</a>
        </li>
    </ul>

</head>
<body>
    <div class="supervisorList">
        <ul class="list-group">
            @foreach (Supervisor supervisor in Model)
            {

                    @if (supervisor.IsAvailable == true)
                    {
                        @:<li class="list-group-item list-group-item-success">
                            @supervisor.Name @:is currently available.
                        @:</li>
                    }
                    else
                    {
                        @:<li class="list-group-item list-group-item-danger">
                            @supervisor.Name @:is currently unavailable.
                        @:</li>
                    }
                }
        </ul>
    </div>
</body>
</html>
