﻿
body {
    background: url("../office.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: left;
    padding: 2%;
}

.timestamp {
    color: white;
}

.allCards {
    display: flex;
    flex-direction: row;
}

.card {
    margin: 3% 2% 0 0;
}

.timestamp {
    position: absolute;
    bottom: 0;
    left: 2%;
}

h1 {
    color: white;
}

.ingress {
    color: white;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
