﻿html {
    background: url("../bossimage.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.allObjects {
    background: rgba(255, 255, 255, 0.6);
    float: left;
    padding: 1.5em;
    border-radius: 30px;
    margin: 30px 50px 30px 50px;
}


