﻿html {
    background: url("../pencilsimage.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


.supervisorList {
    width: 25%;
    margin: 2%;
    float: left;
}


